.about{
    background-color: #f9c49a;
    color: #7c3c21;
}

.education{
    background-color: #ec823a;
    color: #7c3c21;
}

.education-img{
    opacity: 0.3;
    max-height: 250px;
    width: auto;
}

.header{
    background-color: #e8e4e1;
}

.intro{
    align-items: center;
    display: flex;
}

.profile{
    border-color: #7c3c21;
    border-radius: 25%;
    border-style: solid;
    height: 300px;
}

.skills{
    background-color: #f9c49a;
    color: #7c3c21; 
}