.about{
    background-color: #f9c49a;
    color: #7c3c21;
}

.header{
    background-color: #e8e4e1;
}

.profile{
    border-color: #7c3c21;
    border-radius: 25%;
    border-style: solid;
    height: 300px;
}